<p>From: michael.michels&#64;bankofsmartones.com</p>
<p>To: valued-client&#64;gmail.com</p>
<p>Subject: New special offer on Bank of Smart Ones</p>

<p></p>

<p>Dear Valued Client,</p>

<p>We are excited to inform you about a new special offer available for your bank account. Please click the following link to learn more about this exclusive offer:</p>

<p><a href="https://localhost:4300/vulnerable-call">Special Offer</a></p>

<p>Thank you for being a valued client.</p>

<p>Best regards,<br>
Michael Michels<br>
Your Bank Broker</p>

<p>If you have any questions or need further assistance, please do not hesitate to contact us at <a href="mailto:support@bankofsmartones.com">support&#64;bankofsmartones.com</a>.</p>
